<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>7bits-frontend-2018</title>
    <link rel="stylesheet" href="../styles/main.css">
  </head>
  <body>
      <div class="header">
      <h1 class="header_title">John Watson</h1>
      <h2 class="header_subtitle">Graphic Designer</h2>
      <ul class="header_contacts contacts">
          <li class="contacts_item">
              <a class="contacts_link" href="tel:1234567890">Phone number</a>
          </li>
          <li class="contacts_item">
                <a class="contacts_link" href="mailto:email@gmail.com">email@gmail.com</a>
            </li> 
            <li class="contacts_item">
                    <a class="contacts_link" href="www.url.com">www.url.com</a>
                </li>  
        </ul>
      </div>
      <div class="main">
          <div class="main_left">
              <img class="main_avatar" width="425px" src="../images/avatar.png" />
              <div class="personal_info">
              <h3 class="personal_info_title">About me</h3>
             <div class="personal_info_content">
              <p class="personal_info_text">
                I’m <span class="personal_info_text_bold">John Watson</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
              </p>
            </div>
            </div>
          </div>
        

          <div class="main_right">
               
                <div class="personal_info">
                <h3 class="personal_info_title">Experience</h3>
    
                <div class="personal_info_content">
                <p class="personal_info_date">
                    01.2011-08.2017
  
                </p>
                <p class="personal_info_speciality">
                  Junior Graphic Designer
              </p>
              <p class="personal_info_website"> Company| </p>
            <a class="contacts_link_site" href="mailto:email@gmail.com">www.company.com</a>
            <p class="personal_info_description"> 
              Discription. If successful in the tests, those who are considered by a hiring service to be suitable to their requirements will be invited.
            </p>
            <p class="personal_info_nextdate">
              01.2011-08.2017

          </p>
          <p class="personal_info_speciality">
            Junior Graphic Designer
        </p>
        <p class="personal_info_website"> Company| </p>
          <a class="contacts_link_site" href="mailto:email@gmail.com">www.company.com</a>
            <p class="personal_info_description"> 
              Discription. If successful in the tests, those who are considered by a hiring service to be suitable to their requirements will be invited.
            </p>


              </div>
              </div>
            </div>
          </div>
      
      <div class="footer"></div>
  </body>
</html>
